<div class="menu-div"> <!--Div del menu-->
    <header>
        <ul>
            <li><a class="active" href="/">Home</a></li>
            <li><a href="/read/c">Registrar</a></li>
            <li><a href="/read/r">Consultar</a></li>
            <li><a href="/read/u">Actualizar</a></li>
            <li><a href="/read/d">Eliminar</a></li>
        </ul>
    </header>
</div>