<div class="form_data">
    <form method="POST" action="/create">
        <div class="form_group">
            <input type="text" class="input_form" name="nombre" placeholder="Nombre" required>
        </div>
        <div class="form_group">
            <input type="text" class="input_form" name="apellido" placeholder="Apellido" required>
        </div>
        <div class="form_group">
            <input type="text" class="input_form" name="cedula" placeholder="Cédula" required>
        </div>
        <div class="form_group">
            <input type="number" class="input_form" name="edad" placeholder="Edad" required>
        </div>
        <div class="text_center">
        <button type="submit" class="btn_form">Agregar</button>
        </div>
    </form>
</div> 