<!DOCTYPE html>
<html lang="en">

<head>
    <!-----------------------------------------------Styles---------------------------------------------->
    <%- include('../templates/temp_head'); %>
    <!-----------------------------------------------Styles---------------------------------------------->
</head>

<body>

    <div class="outer-div">

            <!-----------------------------------------------Div del menu---------------------------------------------->
            <%- include('../templates/temp_menu'); %>
            <!-----------------------------------------------Div del menu---------------------------------------------->

            <!-----------------------------------------------Div del title---------------------------------------------->
            <%- include('../templates/temp_title'); %>
            <!-----------------------------------------------Div del title---------------------------------------------->


            <div class="inner-div">
                <!-- <p>Este es un div adentro del div centrado.</p> -->

                <%- include('../templates/' + tempbody); %>

                <!-- ******************************************************* -->

            </div>

    </div>

</body>

</html>